<h2>Products</h2>
<div *ngFor="let product of products">
    <h3>
        <a (click)="authTest()">{{ product.name }}</a>
    </h3>
</div>
<h2>Other Products</h2>
<div *ngFor="let product of products">
    <h3>
        <a (click)="extAuthTest()">{{ product.name }}</a>
    </h3>
</div>

<h2>Other Products</h2>
<div *ngFor="let product of products2">
    <h3>
        <a (click)="extAuthTest()">{{ product.name }}</a>
    </h3>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->